// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-family: @paragphFont;
	line-height: 1.5;
	background-color: @beige;
	background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}





/************************ LESS Variables ************************/


@headingFont: 'Bree Serif', serif;

@paragphFont: 'Comfortaa', cursive;

@comfortPadding: 1em 0 1em 0;

@separateSection: 2rem 0 2rem 0;

@gray: #3f3f3f;

/* Color Pallete */
@navy: #041728;
@darkBlue: #222f5b;
@turq: #469CA5;
@lightSea: #73C1C4;
@beige: #D9D9C4;
@pink: #BF8699;
@rose: #781240;
/************************ LESS Mixins ************************/


.bordertitle {
	display: inline-block;
	// border-bottom: 1px solid @gray;
	padding: 2px;
	font-size: 1.4rem;
	margin: 1% 0 1% 0;
}

.bottomBorder {
	border-bottom: 1px solid lightgray;
	padding: .5em 0 .5em 0;
}

.columnFlex {
	display: flex;
	flex-direction: column;
}

.flexAround {
	display: flex;
	justify-content: space-around;
}


/*************************** Container & Nav ****************************/

.container {

	

				@media(max-width: 500px) {
					width: 95%;
				}

		.navigation {
			display: flex;
			justify-content: flex-end;
			background-color: @navy;
			border-top-left-radius: 120px;
			border-bottom-left-radius: 120px;
			border-bottom-right-radius: 50px;
			margin-left: 20%;
		}

		nav {
			width: 100%;
			padding: 4rem;
			margin: @separateSection;
			color: @turq;
			font-size: 1.5rem;
			
		
				ul {
					.flexAround();
			}
		}
		
		h2 {
			font-family: @headingFont;
			.bordertitle();
		
				@media(max-width: 500px) {
					margin: @comfortPadding;
				}
		  }

/************************ Name & Intro ************************/

		.name {
			font-family: @headingFont;
			.columnFlex();
			justify-content: flex-end;
			align-content: center;
			margin: 2rem 0 10rem 0;
			background-color: #bf8699;
			background-image: url("https://www.transparenttextures.com/patterns/food.png");
			/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
			border-radius: 20px;
			width: 50%;
			padding: 6rem;
			color: @rose;
		
				h1 {
					font-size: 3.5rem;
					margin-bottom: .4em;
					text-align: center;
				}
		
				p {
					text-align: center;
					font-size: 1.1rem;
				}
			} //name


		.workHistory {
			position: absolute;
			left: 58rem;
			top: 28rem;
			background-color: #c49c48;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
			width: 18rem;
			height: 18rem;
			border-radius: 50%;
			text-align: center;
			padding-top: 5.5rem;
		}



		.intro {
			padding: @separateSection;
			margin-left: 20rem;
			margin-bottom: 6.1rem;	
	
						@media(max-width: 500px) {
							width: 100%;
							margin: @comfortPadding
						}

					h2 {
						border: none;
						padding: 0;
						margin: 4rem 1rem 0 0;
					}

					.skills {
						background-color: @navy;
						color: @lightSea;
						width: 25rem;
						height: 25rem;
						border-radius: 60%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						text-align: center;

							ul {
								padding-bottom: 5rem;
							}
					}
					
					#circle {
						float: left;
						margin: 20px;
						shape-outside: circle();
						clip-path: circle();
						padding: 1px;
					}

					#aboutMeP {
						width: 60rem;
					}

				}
/************************ Skills & History ************************/

		// .endOfBody {
		// 	display: flex;
		// 	justify-content: space-around;
		
		// 		@media(max-width: 500px) {
		// 			flex-direction: column;
		// 			align-items: center;
		// 			text-align: center;
		// 		}
		


		// 	.workHistory {
		// 		// padding: 0 0 4rem 0;
		// 	}
		// }

/************************ References ************************/

.references {
	padding: 4rem 2rem;
	margin: 0 1rem;
	background-color: #134E49;
	background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	color: white;
	border-radius: 1rem;
}

		.references ul {
			display: flex;
			justify-content: space-between;
		
				li {
					display: flex;
					justify-content: center;
					list-style-type: none;
					// border-bottom: 1px dashed black;
					padding: .5em 0 .5em 0;
					margin: .2em 0 .2em 0;
					width: 100%;
					background-color: rgba(0, 0, 0, 0.4);
				}
		}
		
		.contactMe {
			margin: @separateSection;
			text-align: center;
		}
		
	} //container







 






