// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: @paragphFont;
	line-height: 1.5;
}





/************************ LESS Variables ************************/


@headingFont: 'Bree Serif', serif;

@paragphFont: 'Comfortaa', cursive;

@comfortPadding: 1em 0 1em 0;

@separateSection: 2rem 0 2rem;

@gray: #3f3f3f;




/************************ LESS Mixins ************************/


.bordertitle {
	display: inline-block;
	border-bottom: 1px solid @gray;
	padding: 2px;
	font-size: 1.4rem;
	margin: 1% 0 1% 0;
}

.bottomBorder {
	border-bottom: 1px solid lightgray;
	padding: .5em 0 .5em 0;
}

.columnFlex {
	display: flex;
	flex-direction: column;
}

.flexAround {
	display: flex;
	justify-content: space-around;
}


/*************************** Container & Nav ****************************/

.container {
	width: 100%;
	height: 100%;
	margin: auto;
	

				@media(max-width: 500px) {
					width: 95%;
				}

		.navigation {
			display: flex;
			justify-content: flex-end;
			background-color: #222f5b;
			border-top-left-radius: 120px;
			border-bottom-left-radius: 120px;
			border-bottom-right-radius: 50px;
			margin-left: 20%;
		}

		nav {
			width: 100%;
			padding: 4rem;
			margin: @separateSection;
			color: #946b2d;
			font-size: 1.5rem;
			
		
				ul {
					.flexAround();
			}
		}
		
		h2 {
			font-family: @headingFont;
			.bordertitle();
		
				@media(max-width: 500px) {
					margin: @comfortPadding;
				}
		  }

/************************ Name & Intro ************************/

		.name {
			font-family: @headingFont;
			.columnFlex();
			justify-content: flex-end;
			align-content: center;
			// margin: @separateSection;
			background-color: #946b2d;
			border-radius: 20px;
			width: 50%;
			padding: 6rem;
		
				h1 {
					font-size: 3.5rem;
					margin-bottom: .4em;
					text-align: center;
				}
		
				p {
					text-align: center;
					font-size: 1.1rem;
				}
			}

		.intro {
			width: 50%;
			text-align: center;
			padding: @separateSection;
	
					@media(max-width: 500px) {
						width: 100%;
						margin: @comfortPadding
					}

					h2 {
						background-color: pink;
						border-radius: 50%;
						height: 100px;
						text-align: middle;
					}
		}

/************************ Skills & History ************************/

		.endOfBody {
			display: flex;
			justify-content: space-around;
			padding: @comfortPadding;
		
				@media(max-width: 500px) {
					flex-direction: column;
					align-items: center;
					text-align: center;
				}
		
			.workHistory {
				padding: 4rem 0 4rem 0;
			}
		}

/************************ References ************************/

		.references ul {
			display: flex;
			justify-content: space-between;
		
				li {
					display: flex;
					justify-content: center;
					list-style-type: none;
					.bottomBorder();
					width: 100%;
				}
		}
		
		.contactMe {
			margin: @separateSection;
			
		}
		

  }








 













